body {
    background-color: #005497;
    margin: 0;
    font-family: "Zen Maru Gothic", "凸版文久見出しゴシック", sans-serif;
    animation-name:fadeRightAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;

    }
    
    @keyframes fadeRightAnime{
      from {

        transform: translateX(100px);
      }
    
      to {

        transform: translateX(0);
      }
    }



.header {
    padding: 20px;
    margin: 40px auto;
    width: 300px;
}
.logo{
    width: 300px;
}
.explainbox {
    font-family: heisei-maru-gothic-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F8F8F8;
    width: 200px;
    height: 166px;
    background-color: #20A4AF;
    border: #b4b5b7 1px solid; /*境界線の指定*/
    padding:45px 30px;
    border-width:11px; 
    border-radius: 23px; /*角丸の指定*/
    margin: 0 auto;
    font-size: 17px;

    }

.botton{
    text-align: center;
    margin: 70px auto;
}

    .nextbutton {
        font-family: toppan-bunkyu-midashi-go-std, sans-serif;
        font-weight: 900;
        font-style: normal;
        background-color: #FFEF00;
        border: none;
        color: #707070;
        display:inline-block; 
        font-size :27px; 
        cursor:pointer; 
        border-radius :32px;
        height: 63px;
        width: 315px;
        font-size: 27px;
        
    }

.footer{
    text-align: center
}

.tokan{
    color: #F8F8F8;
    font-family: toppan-bunkyu-midashi-go-std, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: small;
    margin: 10px;
}